@mixin getfontface($family, $name, $weight: normal, $style: normal, $path: '../fonts/'){
  @font-face {
    font-family: $family;
    src: url('#{$path}#{$name}.eot');
    src: url('#{$path}#{$name}.eot?#iefix') format('embedded-opentype'),
         url('#{$path}#{$name}.woff2') format('woff2'),
         url('#{$path}#{$name}.woff') format('woff'),
         url('#{$path}#{$name}.ttf') format('truetype'),
         url('#{$path}#{$name}.svg#latolight') format('svg');
    font-style: $style;
    font-weight: $weight;
  }
}

@mixin element($element) {
	&__#{$element} {
		@content;
	}
}

@mixin modifier($modifier) {
	&--#{$modifier} {
		@content;
	}
}
