$alabaster : #fcfcfc;
$alto      : #dddddd;
$alto-dark : #d8d8d8;
$boulder   : #757575;
$dove-gray : #656565;
$mine-shaft: #212121;
$san-juan  : #2c4569;
$seashell  : #f1f1f1;
$tundora   : #444444;
$wild-sand : #f6f6f6;
